<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <package name="code.mapper.ExampleMapper"/>
    </typeHandlers>

    <mappers>
<mapper class="code.mapper.ExampleMapper"/>
        <mapper resource="mapper/ExampleMapper.xml"/>
    </mappers>
</configuration>