<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code.mapper.ExampleMapper">
    <select id="getOneByDualInSqlMapper" resultType="java.lang.Integer">
        select 1
        from dual
    </select>
</mapper>